
  export AWS_ACCESS_KEY_ID="ID"
  export AWS_SECRET_ACCESS_KEY="SECRET"
  export AWS_BUCKET_ID="s3://"
  export AWS_DISTRIBUTION_ID="ID"

  if [ -x "" ] && [ "" = function ]; then
    use_nix
  fi
  
