# Ignore Jekyll build output
_site/

# Ignore Bundler config
.bundle/

# Ignore Jekyll cache and metadata files
.jekyll-cache/
.jekyll-metadata

# Logs and temporary files
.DS_Store
*.log
.sass-cache/
.jekyll-cache/
node_modules/

# Ignore dependency directories
vendor/

